// CSS of social media icons

$red : #eb3223;
$dark-blue : #4968ad ; 
$blue :  #49a1eb;

.social-container {
 
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.social:hover {
    transform: translateY(-2px);
  }
  a.youtube {
    color: $red;
  }
  
  a.facebook {
    color:$dark-blue;
  }
  
  a.twitter {
    color: $blue;
  }
  
  a.instagram {
    color: black;
  }
}